@model QuarterlyReview.Models.Questions

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Questions</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RtId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RtId" class="form-control" />
                <span asp-validation-for="RtId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RId" class ="form-control" asp-items="ViewBag.RId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QtId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="QtId" class ="form-control" asp-items="ViewBag.QtId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QtOrder" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QtOrder" class="form-control" />
                <span asp-validation-for="QtOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QtType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="QtType" class ="form-control" asp-items="ViewBag.QtType"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QtQuestion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QtQuestion" class="form-control" />
                <span asp-validation-for="QtQuestion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Answer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
