@model IEnumerable<QuarterlyReview.Models.Employees>

@using Microsoft.AspNetCore.Identity
@using QuarterlyReview.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-6">
            <h2>Employee Review Status for @ViewData["EmployeeID"]</h2>
            <h3>Supervisor: @ViewData["Supervisor"]</h3>
            <ul>
                @foreach (var item in Model)
                {
                    <li> @item.Employee </li>
                }

                <li>Sample pages using ASP.NET Core MVC</li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h2>You Need To Sign In</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
            </ul>
        </div>
        </div>
}