@model QuarterlyReview.Models.Reviews

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Reviews</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RtId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RtId" class ="form-control" asp-items="ViewBag.RtId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RtName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RtName" class="form-control" />
                <span asp-validation-for="RtName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RtDesc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RtDesc" class="form-control" />
                <span asp-validation-for="RtDesc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Status" class ="form-control" asp-items="ViewBag.Status"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StatusDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StatusDate" class="form-control" />
                <span asp-validation-for="StatusDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SupId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SupId" class ="form-control" asp-items="ViewBag.SupId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmpId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EmpId" class ="form-control" asp-items="ViewBag.EmpId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DivId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DivId" class ="form-control" asp-items="ViewBag.DivId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PeriodStart" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PeriodStart" class="form-control" />
                <span asp-validation-for="PeriodStart" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PeriodEnd" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PeriodEnd" class="form-control" />
                <span asp-validation-for="PeriodEnd" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
